<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="StorageAccountConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=mkh4clouddevsa;AccountKey=Qcv0hFA5QPcclMO6lfEWWIoh99iNeSr5eN+soI0Ctzo69F9FwPKaEvM68hvSHMnHA2LWrlUCoUlH6duOqQEVQw==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
    </system.web>

</configuration>
